.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20vh 10vw 20vh 20vw;
    // height: 100vh;
    // background-image: url(/src/assets/mybwbgeditendlesslit2.png);
    // background-attachment: fixed;
  //  background-position: -130px 60.5%;
  //  background-repeat: no-repeat;
   /* should I do the white and then have darkmode? */
  //  background-size: 100rem;
  //  box-shadow:inset 0 0 0 2000px rgba(167, 170, 170, 0.356);
}



.hero__title--hero {
    font-family: var(--ff-primary);
    font-size: 8vh;
    font-weight: 600;
    text-align: left;
    top: 35vh;
    right: 15vw;
  }
  .hero__title--name{
    right: 15vw;
    bottom: 44vh;
    font-family: var(--ff-secondary);
    font-size: 70px;
    text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  }
  .hero__subtitle--hero{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    text-align: left;
      bottom: 42vh;
      right: 15vw;
  }
  .hero__subtitle--secondary{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    text-align: left;
    margin-top: 2vh;
    right: 15vw;
    bottom: 38vh;
  }

  @media only screen and (max-width: 700px){
    .hero{
      align-items: center;
      height: 90vh;
    }
    .hero__title--hero{
        left: 40vw;
        top: 40vh;
        font-size: 3rem;
      }
    .hero__title--name{
    left: 33vw;
    top: 50vh;
    font-family: var(--ff-secondary);
    font-size: 4rem;
    text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    }    
    .hero__subtitle--hero{
        right: 34vw;
        bottom: 20vh;
        text-align: center;
        text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  
      }
    .hero__subtitle--secondary{
        bottom: 14vh;
        right: 28vw;
        text-align: center;
        text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    }
  }