.portfolio__body--title{
    padding-top: 30vh;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: -3px -3px 7px hsla(0, 0%, 100%, 0.451), 3px 3px 5px rgba(94, 104, 121, 0.288);
  }

.portfolio img{
    border-radius: 20px;
}

// projects

.porfolio__body--title a {
    text-decoration: none;
    text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    color: var(--clr-dark);
    transition: all .4s ease;
    &:hover{
      color: var(--clr-accent);
    }
}

.project___content--techList li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 450;
    text-shadow: 1px .7px 1px rgba(36, 35, 35, 0.623);
    margin-right: 5px;
    color: rgb(146, 52, 52);
    flex-wrap: wrap;
    &:hover{
      color: rgb(219, 28, 28);
      text-shadow: none;
      cursor: pointer;
    }
}