.portfolio__body--title{
    padding-top: 30vh;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    text-shadow: -3px -3px 7px hsla(0, 0%, 100%, 0.451), 3px 3px 5px rgba(94, 104, 121, 0.288);
  }

.portfolio img{
    border-radius: 20px;
}

// projects

.porfolio__body--title a {
    text-decoration: none;
    text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    color: var(--clr-dark);
    transition: all .4s ease;
    &:hover{
      color: var(--clr-accent);
    }
}

.project___content--techList li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 450;
    text-shadow: 1px .7px 1px rgba(36, 35, 35, 0.623);
    margin-right: 5px;
    color: rgb(146, 52, 52);
    flex-wrap: wrap;
    &:hover{
      color: rgb(219, 28, 28);
      text-shadow: none;
      cursor: pointer;
    }
}

// 1st project

.project__content1{
    position: relative;
    margin: 10% 0 10% 57%;
    padding-right: 0;
}

.project__content1--description{
   background-color: rgb(202, 206, 207);
   height: 13.5rem;
   width: 23rem;
   font-size: var(--fs-project);
   padding: 20px 5% 20% 5%;
   border-radius: 10px;
}

.project_content1--image img{
    position: relative;
    width: 48vw;
    margin: -100vh 0% 10% 5%;
    filter: brightness(70%);
    transition: all .4s ease;
    &:hover{
      filter: none;
    }
}

// 2nd Project

.project__content2{
    position: relative;
    padding: 0 0 0 10%;
    z-index: 1;
}

.project__description2{
    background-color: rgb(202, 206, 207);
    height: 11rem;
    width: 23rem;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
}

.project__content2--image img{
    width: 55vw;
    margin: -33% 0 0 43vw;
    padding-left: 5%;
    filter: brightness(70%);
    transition: all .4s ease;
    &:hover{
      z-index: 3;
      filter: none;
    }
}

// third project

.project__content3{
    margin: 10% 0 0 67%;
}