.competencies__title{
    padding-top: 15vh;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  }

.competencies__category--label{
    text-align: center;
    font-size: var(--fs-h3);
    margin: 10% 0 0 0;
    text-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288); 
}