.social_sidebar{
    position: fixed;
    left: 20px;
    bottom: 20px;
  }

.social_sidebar .button{
    height: 30px;
    width: 30px;
    margin: 8px 0px;
    overflow: hidden;
    color: #93969b;
    background: #eaebeb;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    transition: all 0.3s ease-out;
    position: sticky right;
    right: 48vw;
    top: 50vh;
}