.social_sidebar{
    position: fixed;
    left: 20px;
    bottom: 20px;
  }

.social_sidebar .button{
    height: 30px;
    width: 30px;
    margin: 8px 0px;
    overflow: hidden;
    color: #93969b;
    background: #eaebeb;
}